

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%;}

body { font: normal 400 1.0em/1em "calluna","Georgia";}

strong{font: normal 700 "calluna","Georgia";}

em{
	    font: italic 400 "calluna","Georgia";

}
h1{
	font: normal 900 1.7em "calluna","Georgia";
	font-size: 1.7em;
	  margin-bottom: 1.5em;
}

img{ width:100%;}



h2{
font: normal 700 "calluna","Georgia";

	font-size: 1.4em;
}

h3{
font: normal 700 "calluna","Georgia";

font-size: 1.1em;

}

 h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
}


.gist{
background-color: white !important;
font-size: 13px !important;
/*overflow-x: auto;                 
width: 99%;*/
line-height: 1.5em !important;
}

.gist-file{
  border: none !important;
}

.gist-meta{
	background-color: white !important;

  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;

}

.gist-data{
	background-color: white !important;

  padding: 15px !important;
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}


blockquote{
	border-bottom-style: dotted;
	border-bottom-color: #b0b0b0;
	border: 1px dotted #c6c6c6;
	font-style: italic;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #706c73;
	text-decoration: none;
}

a:hover {
  color: #000000;
}

a:visited {
  color: #686768;
	text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}




nav {
	
	display: inline-block;
	position: fixed;
	
	width: 400px;
	background-color: white;
	padding-top: 20px;
	float: left;

	padding-left: 20px;
	list-style-type: none;
	font-size: 0.9em;
	line-height: 1.4em;
	list-style-type: none;

}

nav  ul {
		list-style-type: none;
}

nav a{
	color: #cdcdcd;
}
nav a:hover{
	color: #2d2d2d;
}
nav a:visited{
	color: #c3e0ca;
	}
nav a:hover{
	color: #2d2d2d;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



.startsite {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  

}
.site {
  font-size: 110%;
  line-height: 1.6em;
	background-color: white;
	border: 1em solid white;
	-moz-border-radius: 23px;
border-radius: 23px;
max-width: 650px;
	left: 415px;
	padding-left: 425px;
}

.title {

  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {

    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {

      }

/*    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }*/

/*      .site .footer .rss img {
        border: 0;
      }*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }