  
<!-- <h1>Bachelor Arbeit von Fabian Mor&oacute;n Zirfas</h1>
<h1>Mehr Zeit f&uuml;r Gestaltung</h1> -->
<!-- <br /> <a href="images/connectedNodes.jpg"><img src="images/connectedNodes.jpg" width="100%" alt="" /></a>
 -->
<!-- <br> -->
<!-- <h4>Inhalt</h4> -->
<!-- <br>
<div id="index"> -->
<ul>
	<li><a href="00einleitung.html">1 Einleitung</a></li>
		<ul>
			<li><a href="01bevorsieeinsteigen.html">&emsp;1.1 Bevor sie Einsteigen</a></li>
		</ul>
	<li><a href="02wannsollichskripten.html">2 Wann soll ich Scripten?</a></li>
	<!-- 	<ul>
			<li><a href="wannsollichskripten.html#37">&emsp;&emsp;2.0.1 Welche Operationen sollen ausgef&uuml;hrt werden?</a></li>
			<li><a href="wannsollichskripten.html#38">&emsp;&emsp;2.0.2 Wie komplex sind die Operationen?</a></li>
			<li><a href="wannsollichskripten.html#39">&emsp;&emsp;2.0.3 Wie ist das Zeitfenster und wann muss das Produkt fertig sein?</a></li>
			<li><a href="wannsollichskripten.html#40">&emsp;&emsp;2.0.4 Wie oft muss diese T&auml;tigkeit ausgef&uuml;hrt werden?</a></li>
			<li><a href="wannsollichskripten.html#41">&emsp;&emsp;2.0.5 L&auml;sst sich die Automation auch auf andere &auml;hnliche Bereiche anwenden oder mit geringen Aufwand abstrahieren?</a> </li>
			<li><a href="wannsollichskripten.html#42">&emsp;&emsp;2.0.6 Wie sehr ist sie von Umgebungsvariablen abh&auml;ngig?</a></li>
			<li><a href="wannsollichskripten.html#43">&emsp;&emsp;2.0.7 Soll die Automation von dritten Benutzt werden?</a></li>
			<li><a href="wannsollichskripten.html#44">&emsp;&emsp;2.0.8 Ist der Prozess linear oder bedarf es einer R&uuml;ckkopplung zum Benutzer?</a></li>
		</ul> -->
	<li><a href="02wannsollichskripten.html#04">&emsp;2.1 Das Beispiel targetengine</a></li>
<!-- 		<ul>
			<li><a href="wannsollichskripten.html#45">&emsp;&emsp;2.1.1 Existieren bereits Automationen in dem Sektor und wenn ja lassen sich diese abwandeln?</a></li>
			<li><a href="wannsollichskripten.html#46">&emsp;&emsp;2.1.2 Bietet die API direkten Zugriff auf die ben&ouml;tigten Funktionen oder braucht es eine Workaround?</a></li>
		</ul> -->
	<li><a href="02wannsollichskripten.html#05">&emsp;2.2 Das Beispiel try char</a></li>

	<li><a href="03szenarien.html">3 Szenarien</a></li>

		<ul>
			<li><a href="04szenarioimagematrix.html">&emsp;3.1 Der Einsatz - das Beispiel image matrix</a></li>
			<li><a href="04szenarioimagematrix.html#33">&emsp;&emsp;3.1.1 Ergebnisse - image matrix</a></li>
			<li><a href="05imagematrixschrittfuerschritt.html">&emsp;3.2 image matrix - Schritt f&uuml;r Schritt.</a></li>
			<li><a href="06szenariogretapower.html">&emsp;3.3 Das Beispiel great power</a></li>
		</ul>
	<li><a href="07werkzeuge.html">4 Werkzeuge</a></li>
	<li><a href="08dieangst.html">5 Die Angst</a></li>
	<li><a href="09fazit.html">6 Fazit</a></li>
	<li><a href="10terminologie.html">7 Die kleine Terminologie</a></li>
		<ul>
			<li><a href="10terminologie.html#14">&emsp;7.01 Was ist Code?</a></li>
			<li><a href="10terminologie.html#15">&emsp;7.02 Was ist ein Programm?</a></li>
			<li><a href="10terminologie.html#16">&emsp;7.03 Was ist ein Algorithmus?</a></li>
			<li><a href="10terminologie.html#17">&emsp;7.04 Was ist die Syntax?</a></li>
			<li><a href="10terminologie.html#18">&emsp;7.05 Was ist Pseudocode?</a></li>
			<li><a href="10terminologie.html#19">&emsp;7.06 Was ist ein Compiler?</a></li>
			<li><a href="10terminologie.html#20">&emsp;7.07 Was ist eine IDE (Integrated Development Envoirement)?</a></li>
			<li><a href="10terminologie.html#21">&emsp;7.08 Was ist Hello World?</a> </li>
			<li><a href="10terminologie.html#22">&emsp;7.09 Was ist Syntax-Highlighting?</a></li>
			<li><a href="10terminologie.html#23">&emsp;7.10 Was ist eine API (Application Programming Interface)?</a></li>
			<li><a href="10terminologie.html#24">&emsp;7.11 Was ist Objektorientierung?</a></li>
			<li><a href="10terminologie.html#25">&emsp;7.12 Was sind Funktionen/Methoden?</a></li>
			<li><a href="10terminologie.html#26">&emsp;7.13 Was ist ein Bug?</a></li>
			<li><a href="10terminologie.html#27">&emsp;7.14 Was ist Debugging?</a></li>
			<li><a href="10terminologie.html#28">&emsp;7.15 Was ist ein Workaround?</a>  </li>
			<li><a href="10terminologie.html#29">&emsp;7.16 Welche Konventionen gibt es?</a></li>
			<li><a href="10terminologie.html#30">&emsp;7.17 Herkunft von JavaScript</a></li>
			<li><a href="10terminologie.html#31">&emsp;7.18 Was ist der Unterschied zwischen JavaScript und ExtendScript?</a></li>
			<li><a href="10terminologie.html#32">&emsp;7.19 Was sind Pointer</a></li>
		</ul>
	<li><a href="11referenzen.html">8 Refenrenzen</a></li>
	<li><a href="12weblinks.html">9 Weblinks</a></li>
	<li><a href="13quellen.html">10 Quellen</a></li>
	<li><a href="impressum.html">Impressum</a></li>

</ul>
