<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://fabiantheblind.info">fabiantheblind.info</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/MT4D/00einleitung.html">MT4D</a></li>
          <!-- <li><a href="#about">About</a></li> -->
          <li><a href="/MT4D/blog.html">Blog</a></li>
          <li><a href="/MT4D/impressum.html">Impressum</a></li>
          <span class="hidden-desktop">{% include navtop.html %}</span>
      </ul>
         <span class="visible-desktop">
          <ul class="nav pull-right">
            <li>
              <a href="#top">back 2 top?</a>
            </li> 
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
