  
<!-- <h1>Bachelor Arbeit von Fabian Mor&oacute;n Zirfas</h1>
<h1>Mehr Zeit f&uuml;r Gestaltung</h1> -->
<ul class="nav nav-list">
<li class="nav-header"><a href="00einleitung.html" >1 Einleitung</a></li>
	
<li id="navi"><a href="01bevorsieeinsteigen.html" >1.1 Bevor sie Einsteigen</a></li>
  <li class="divider"></li>

<li class="nav-header"><a href="02wannsollichskripten.html" >2 Wann soll ich Scripten?</a></li>
<li id="navi"><a href="02wannsollichskripten.html#04" >2.1 Das Beispiel targetengine</a></li>
<li id="navi"><a href="02wannsollichskripten.html#05" >2.2 Das Beispiel try char</a></li>
  <li class="divider"></li>

<li  class="nav-header"><a href="03szenarien.html" >3 Szenarien</a></li>
<li id="navi"><a href="04szenarioimagematrix.html" >3.1 Der Einsatz - das Beispiel image matrix</a></li>
<li id="navi"><a href="04szenarioimagematrix.html#33" >3.1.1 Ergebnisse - image matrix</a></li>
<li id="navi"><a href="05imagematrixschrittfuerschritt.html" >3.2 image matrix - Schritt für Schritt.</a></li>
<li id="navi"><a href="06szenariogretapower.html" >3.3 Das Beispiel great power</a></li>
  <li class="divider"></li>

<li  class="nav-header"><a href="07werkzeuge.html" >4 Werkzeuge</a></li>
  <li class="divider"></li>

<li   class="nav-header"><a href="08dieangst.html" >5 Die Angst</a></li>
  <li class="divider"></li>

<li   class="nav-header"><a href="09fazit.html" >6 Fazit</a></li>
  <li class="divider"></li>

<li   class="nav-header"><a href="10terminologie.html" >7 Die kleine Terminologie</a></li>
<li  id="navi"><a href="10terminologie.html#14" >7.01 Was ist Code?</a></li>
<li  id="navi"><a href="10terminologie.html#15" >7.02 Was ist ein Programm?</a></li>
<li  id="navi"><a href="10terminologie.html#16" >7.03 Was ist ein Algorithmus?</a></li>
<li  id="navi"><a href="10terminologie.html#17" >7.04 Was ist die Syntax?</a></li>
<li  id="navi"><a href="10terminologie.html#18" >7.05 Was ist Pseudocode?</a></li>
<li  id="navi"><a href="10terminologie.html#19" >7.06 Was ist ein Compiler?</a></li>
<li  id="navi"><a href="10terminologie.html#20" >7.07 Was ist eine IDE ?</a></li>
<li  id="navi"><a href="10terminologie.html#21" >7.08 Was ist Hello World?</a> </li>
<li  id="navi"><a href="10terminologie.html#22" >7.09 Was ist Syntax-Highlighting?</a></li>
<li  id="navi"><a href="10terminologie.html#23" >7.10 Was ist eine API?</a></li>
<li  id="navi"><a href="10terminologie.html#24" >7.11 Was ist Objektorientierung?</a></li>
<li  id="navi"><a href="10terminologie.html#25" >7.12 Was sind Funktionen/Methoden?</a></li>
<li  id="navi"><a href="10terminologie.html#26" >7.13 Was ist ein Bug?</a></li>
<li  id="navi"><a href="10terminologie.html#27" >7.14 Was ist Debugging?</a></li>
<li  id="navi"><a href="10terminologie.html#28" >7.15 Was ist ein Workaround?</a>  </li>
<li  id="navi"><a href="10terminologie.html#29" >7.16 Welche Konventionen gibt es?</a></li>
<li  id="navi"><a href="10terminologie.html#30" >7.17 Herkunft von JavaScript</a></li>
<li  id="navi"><a href="10terminologie.html#31" >7.18 JS vs. JSX?</a></li>
<li  id="navi"><a href="10terminologie.html#32" >7.19 Was sind Pointer</a></li>
  <li class="divider"></li>
<li  class="nav-header" ><a href="11referenzen.html" >8 Refenrenzen</a></li>
<li  class="nav-header" ><a href="12weblinks.html" >9 Weblinks</a></li>
<li  class="nav-header" ><a href="13quellen.html" >10 Quellen</a></li>
  <li class="divider"></li>

<li  class="nav-header"><a href="impressum.html" >Impressum</a></li>
</ul>

