  
<!-- <h1>Bachelor Arbeit von Fabian Mor&oacute;n Zirfas</h1>
<h1>Mehr Zeit f&uuml;r Gestaltung</h1> -->

<ul class="nav nav-list">

<li class="nav-header" ><a data-toggle="collapse" data-target="#gttstrt" >Erste Schritte</a></li>
<div class="collapse" id="gttstrt">
	<br>
	<li id="navi"><a class="navi" href="/MT4D/00einleitung.html#95" >1 Einleitung</a></li><br>
    <li id="navi"><a class="navi" href="/MT4D/01bevorsieeinsteigen.html#96" >1.1 Bevor sie Einsteigen</a></li><br>
</div>

  <li class="divider"></li>

<li class="nav-header" ><a  data-toggle="collapse" data-target="#anlys" >Analyse</a></li>
<div class="collapse" id="anlys">
	<br>
	<li id="navi"><a class="navi" href="/MT4D/02wannsollichskripten.html#97" >2 Wann soll ich Scripten?</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/02wannsollichskripten.html#04" >2.1 Das Beispiel targetengine</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/02wannsollichskripten.html#05" >2.2 Das Beispiel try char</a></li><br>
</div>

 <li class="divider"></li>

<li  class="nav-header" ><a data-toggle="collapse" data-target="#usage" >Anwendung</a></li>
<div class="collapse" id="usage">
	<br>
	<li id="navi"><a class="navi" href="/MT4D/03szenarien.html#07" >3 Szenarien</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/04szenarioimagematrix.html#08" >3.1 Der Einsatz - das Beispiel image matrix</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/04szenarioimagematrix.html#33" >3.1.1 Ergebnisse - image matrix</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/05imagematrixschrittfuerschritt.html#09" >3.2 image matrix - Schritt für Schritt.</a></li><br>
<li id="navi"><a href="/MT4D/06szenariogretapower.html#10" >3.3 Das Beispiel great power</a></li><br>
</div>
 
  <li class="divider"></li>

<li  class="nav-header" > <a data-toggle="collapse" data-target="#bsp" >Beispiele</a></li>
<div class="collapse" id="bsp">
<br>
	<li id="navi"><a class="navi" href="/MT4D/07werkzeuge.html#12" >4 Werkzeuge</a></li><br>
    <li id="navi"><a class="navi" href="/MT4D/07werkzeuge.html#99" >4.1 AEMap.jsx &amp; AEMap Utilities.jsx </a></li><br>
    <li id="navi"><a class="navi" href="/MT4D/07werkzeuge.html#98" >4.2 createBook.jsx</a></li><br>
    <li ><a  href="/MT4D/07werkzeuge.html#94" >4.3 WAVEFRONT_objfromai.jsx</a></li><br>
    <li ><a  href="/MT4D/07werkzeuge.html#93" >4.4 Illustrator Voronoi</a></li><br>

</div>

  <li class="divider"></li>

<li  class="nav-header"><a  data-toggle="collapse" data-target="#rflct" >Reflektion</a></li>
<div class="collapse" id="rflct">
	<br>
	<li id="navi"><a class="navi" href="/MT4D/08dieangst.html##11" >5 Die Angst</a></li><br>
	<li id="navi"><a class="navi" href="/MT4D/09fazit.html#06" >6 Fazit</a></li><br>
</div>
  <li class="divider"></li>

</ul>


