---
layout: default
---
<div class="container">
<!--    <div id="topnav">    -->     
    <div class="row">
      <div class="span1"> 
        <img src="/mt4d/images/buffer.png">
      </div>
    </div> 
        <div class="row">
      <div class="span1"> 

      </div>
<!--     </div>  -->
  </div>

  <div class="row">
    <div class="site">
     
      <div class="span8 offset2">
<div id="contentprint">
<div id="blog">

      {{ content }}
</div>
  </div>
      </div>
      <div class="span1"></div>
    </div> 
  </div>


</div>

