<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MT4D" />
    <meta name="author" content="fabiantheblind" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ page.title }}
    </title>
    <!-- Le styles -->


    <link href="content/css/twboot/bootstrap.css" rel="stylesheet" /> 



    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- include typekit -->
    <script type="text/javascript" src="https://use.typekit.com/jdb0zac.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   <!-- syntax highlighting CSS -->
<!--      <link rel="stylesheet" href="css/syntax.css" type="text/css" />  -->  
<!-- Homepage CSS -->

    <link rel="stylesheet" href="content/css/screenbs.css" type="text/css" />
    <script src="content/js/less-1.3.0.min.js" type="text/javascript"></script>

    <!-- Include Print CSS -->
<!--     <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />  --> 
    <link href="content/css/twboot/bootstrap-responsive.css" rel="stylesheet" />

</head>
  <body>
      <a href="https://github.com/fabiantheblindcontent"><img style="position: absolute; top: -26px; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>

    <div class="container">

      <div class="row-fluid">
        <div class="hero-unit">
        {{ content }}    
        </div>
      </div>
</div>

<script src="content/js/jquery.js"></script>
 <script src="content/js/jquery.fittext.js"></script>

<script type="text/javascript">
    $("#fittext1").fitText(1.2);
    $("#fittext2").fitText(1.2);
    // $("#fittext3").fitText(1.1, { minFontSize: 50, maxFontSize: '75px' });
  </script>
  </body>
</html>
